#pragma once

#define WIFI_SSID "TvojeWiFi"
#define WIFI_PASSWORD "TvojeHeslo"

#define GITHUB_BASE_URL "https://marek9336.github.io/SIKO_teplomer/Pictures/"
#define OTA_URL "https://marek9336.github.io/SIKO_teplomer/firmware/latest.bin"
